
.navbar{
   background-color:tan;
}
.quem-somos{
    background-color:wheat;
    
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color:tan;
    /*padding-top: 10px ;*/
}
.fotterlg{
    background-color: tan;
    color:lightslategray;
}
h3{
    color: rgb(78, 81, 83);
}
    
